### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [286]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [287]:
# list of columns in table
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

* Display the total number of players

In [288]:
purchase_data_total_count = purchase_data["SN"].count()
purchase_data_total_players = [{"Total Players":purchase_data_total_count}]
purchase_data_total_players_dataFrame = pd.DataFrame(purchase_data_total_players)
purchase_data_total_players_dataFrame

   Total Players
0            780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [289]:
# list of columns in table
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [290]:
average_price = purchase_data["Price"].mean()
number_of_purchases = purchase_data["Purchase ID"].count()
no_of_unique_items = purchase_data["Item ID"].nunique()
total_revenue = purchase_data["Price"].sum()


print("Number of Unique items: ",no_of_unique_items)
print("Number of purchases: ",number_of_purchases)
print("Average Price: ",round(average_price,2))
print("Total Revenue: ",round(total_revenue,2))

Number of Unique items:  183
Number of purchases:  780
Average Price:  3.05
Total Revenue:  2379.77

In [291]:
average_price = round(average_price,2)

purchase_analysis = [{"Number of Unique Items":no_of_unique_items,
                      "Average Price":average_price,
                      "Number of Purchases":number_of_purchases,
                      "Total Revenue":total_revenue
                     }]
purchase_analysis

[{'Number of Unique Items': 183,
  'Average Price': 3.05,
  'Number of Purchases': 780,
  'Total Revenue': 2379.77}]

In [292]:
purchase_analysis_data_frame = pd.DataFrame(purchase_analysis)
purchase_analysis_data_frame

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

# Table Display

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [293]:
grouped_gender = purchase_data.groupby(["Gender"])
grouped_gender.count()

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [294]:
 summary_gender = grouped_gender["Purchase ID"].count()

In [295]:
gender_total = purchase_data["Gender"].count()
percent_summary_gender = summary_gender/gender_total*100

In [296]:
dispaly_summary_gender = pd.DataFrame({
                                        "Total Count":summary_gender,
                                        "Percentage of Players":percent_summary_gender})
dispaly_summary_gender

                       Total Count  Percentage of Players
Gender
Female                         113              14.487179
Male                           652              83.589744
Other / Non-Disclosed           15               1.923077


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [297]:
purchase_data.head(1)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53

In [298]:
male_summary = purchase_data.loc[purchase_data["Gender"]== "Male"]
male_mean_price =male_summary["Price"].mean()
male_mean_price = round(male_mean_price,2)
male_count = male_summary["Gender"].count()
male_purchase_val = male_mean_price * male_count

female_summary = purchase_data.loc[purchase_data["Gender"]== "Female"]
female_mean_price =female_summary["Price"].mean()
female_mean_price = round(female_mean_price,2)
female_count = female_summary["Gender"].count()
female_purchase_val = female_mean_price * female_count

other_summary = purchase_data.loc[purchase_data["Gender"]== "Other / Non-Disclosed"]
other_mean_price =other_summary["Price"].mean()
other_mean_price = round(other_mean_price,2)
other_count = other_summary["Gender"].count()
other_purchase_val = other_count * other_mean_price

print(male_count)
print(female_count)
print(other_count)
print(male_mean_price)
print(female_mean_price)
print(other_mean_price)
print(female_purchase_val)
print(male_purchase_val)
print(other_purchase_val)

652
113
15
3.02
3.2
3.35
361.6
1969.04
50.25

In [299]:
dispaly_summary_gender = pd.DataFrame({
                                        "Gender":["Female","Male","Other / Non-Disclosed"],
                                        "Purchase Count":[female_count,male_count,other_count],
                                        "Average Purchase Price	":[female_mean_price,male_mean_price,other_mean_price],
                                        "Total Purchase Value":[female_purchase_val,male_purchase_val,other_purchase_val],
                                        "Avg Total Purchase per Person":[1,2,3]
})
dispaly_summary_gender

,Gender,Purchase Count,Average Purchase Price\t,Total Purchase Value,Avg Total Purchase per Person
0,Female,113,3.20,361.60,1
1,Male,652,3.02,1969.04,2
2,Other / Non-Disclosed,15,3.35,50.25,3

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [306]:
purchase_data_copy = purchase_data
bins = [0,9,13,18,23,28,33,40,100]
group_name = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

purchase_data_copy = purchase_data_copy.loc[:,["Purchase ID","Age"]]
purchase_data_copy["age group"] = pd.cut(purchase_data["Age"],bins,labels = group_name)

age_count_total = purchase_data_copy["age group"].value_counts()
age_total = purchase_data["Age"].count()
percent_age = age_count_total/age_total*100


summary = pd.DataFrame({"Total Count":age_count_total,
                       "Percentage of Players":percent_age})
summary

       Total Count  Percentage of Players
20-24          321              41.153846
25-29          155              19.871795
15-19          115              14.743590
30-34           77               9.871795
35-39           56               7.179487
10-14           26               3.333333
<10             23               2.948718
40+              7               0.897436

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame