### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [182]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [183]:
# list of columns in table
purchase_data.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

## Player Count

* Display the total number of players

In [184]:
player_count_file = purchase_data
spenders_data = purchase_data
#player_count_file.head()
player_count_file["SN"].unique()

array(['Lisim78', 'Lisovynya38', 'Ithergue48', 'Chamassasya86',
       'Iskosia90', 'Yalae81', 'Itheria73', 'Iskjaskst81', 'Undjask33',
       'Chanosian48', 'Inguron55', 'Haisrisuir60', 'Saelaephos52',
       'Assjaskan73', 'Saesrideu94', 'Lisassa64', 'Lisirra25',
       'Zontibe81', 'Reunasu60', 'Chamalo71', 'Iathenudil29',
       'Phiarithdeu40', 'Siarithria38', 'Eyrian71', 'Siala43',
       'Lisirra87', 'Lirtossa84', 'Eusri44', 'Aela59', 'Tyida79',
       'Idai61', 'Farusrian86', 'Aeralria27', 'Haillyrgue51', 'Sondim73',
       'Jeyciman68', 'Idaisuir85', 'Seuthep89', 'Reulae52',
       'Sondilsaya62', 'Aerithriaphos45', 'Assosia88', 'Aidaillodeu39',
       'Aelly27', 'Tyeosri53', 'Haerith37', 'Yasrisu92', 'Chanuchi25',
       'Asur96', 'Iaralrgue74', 'Chanosia34', 'Aelin32', 'Ilosianya35',
       'Zhisrisu83', 'Phaelap26', 'Raesty92', 'Palyon91', 'Tyisur83',
       'Yaliru88', 'Yadanu52', 'Jiskimya77', 'Yadaphos40', 'Alo38',
       'Phaena87', 'Chamirraya83', 'Chanastsda67', 'Indonmol95',
       'Jiskossa61', 'Pheodai94', 'Hari50', 'Marilsa69', 'Assistasda42',
       'Lisosia93', 'Philodil43', 'Mindadaran26', 'Lirtosia63',
       'Assjaskan56', 'Irithlis29', 'Heudai45', 'Haerithp41', 'Aina42',
       'Jiskjask60', 'Umolrian85', 'Qarirwen82', 'Laedallo55',
       'Eoralrap26', 'Undosian34', 'Chadolyla44', 'Chadistaya75',
       'Yathedeu43', 'Aina43', 'Ilassast39', 'Lisassala98', 'Aiduecal76',
       'Chadossa89', 'Pheodaisun84', 'Heollyriap59', 'Maropast28',
       'Frichim77', 'Thryallym62', 'Eulanurin88', 'Lassjaskan73',
       'Tyaerith73', 'Sondadarya58', 'Hirirap39', 'Ririp86', 'Sundim98',
       'Iskichinya81', 'Phyali88', 'Undirrala66', 'Nitherian58',
       'Lassilsala30', 'Frichaststa61', 'Frichosia58', 'Ilosia37',
       'Lisista27', 'Seudaillorap38', 'Aesty53', 'Yathecal82',
       'Lisossanya98', 'Iral74', 'Lisast87', 'Maridisya31', 'Jiskassa76',
       'Ethriel85', 'Iskirra45', 'Iri67', 'Rarallo90', 'Lisasi93',
       'Adastirin33', 'Eyista89', 'Ili43', 'Chamirra53', 'Hailaphos89',
       'Iskadarya95', 'Qilatista90', 'Inasti31', 'Marilsanya48',
       'Marjask87', 'Chanjaskan89', 'Hyaduesu61', 'Aillyrin83',
       'Marast30', 'Sundadar27', 'Tyaelorap29', 'Lirtimst73',
       'Styaduen40', 'Sidap51', 'Chanastst38', 'Lirtassa52', 'Sondim68',
       'Aeral97', 'Heosurnuru52', 'Lisopela58', 'Caesrinusuir82',
       'Tyirinu79', 'Fironon91', 'Lassjask63', 'Indcil77', 'Chamimla73',
       'Syathe73', 'Baelollodeu94', 'Mindista32', 'Saena74',
       'Marirrasta50', 'Lamil79', 'Aenarap34', 'Aisur51', 'Thrientossa55',
       'Chadista79', 'Tyeurith29', 'Malunil62', 'Hiasri33', 'Lisadar44',
       'Frichjask31', 'Lisjaskya84', 'Ristydru66', 'Frichast28',
       'Minduri31', 'Maradaran90', 'Mindetosya30', 'Ialallo29',
       'Pheusrical25', 'Chanosia60', 'Phistym51', 'Aelollo59',
       'Chamimla85', 'Haisurra41', 'Sondastsda82', 'Qilanrion65',
       'Eulasuir89', 'Eosrirgue62', 'Shaidanu32', 'Lirtastan49',
       'Iaralsuir44', 'Tyeudariasuir90', 'Cosadar58', 'Aelastirin39',
       'Aidai53', 'Jiskjask85', 'Ealrion88', 'Chamjask73', 'Tyaenasti87',
       'Alim85', 'Haeladil46', 'Jiskirran77', 'Undosia27', 'Peorith44',
       'Yarithsurgue62', 'Taeduenu92', 'Rairin89', 'Aerithriaphos46',
       'Idairin51', 'Lisista54', 'Eodailis27', 'Lirtastsda29',
       'Undilsan50', 'Eodaisu60', 'Quaranmol58', 'Lirtossa60',
       'Lirtilsa71', 'Isursuir31', 'Sundirrala66', 'Saerallora71',
       'Iasur80', 'Tyaelo67', 'Quanunwen42', 'Yasur35', 'Assehoan67',
       'Haellysu29', 'Saida58', 'Chamadar79', 'Aeral43', 'Lirtirra37',
       'Tyidaim51', 'Lassassast73', 'Assassasta79', 'Heollyra92',
       'Anallorgue57', 'Aerithllora36', 'Smaistysu35', 'Ennalmol65',
       'Yarithrgue83', 'Yana46', 'Sondimla25', 'Aidai61', 'Wailin72',
       'Firan91', 'Alaesu91', 'Aellynun67', 'Rilaera56', 'Eulaestira36',
       'Marim28', 'Idastidru52', 'Ilirrasda54', 'Alaephos75',
       'Syalollorap93', 'Minduli80', 'Chanastya70', 'Frichadaran88',
       'Siallylis44', 'Aeri84', 'Iasursti71', 'Mindilsa34', 'Chamastya76',
       'Undirra73', 'Aestysu37', 'Chadadarla74', 'Strithenu87',
       'Iasrira89', 'Ialidru40', 'Tyalaesu89', 'Tyidainu31', 'Lirtilsa72',
       'Undjaskla97', 'Saedaiphos46', 'Aerithnucal56', 'Lisossa46',
       'Layjask75', 'Lisista63', 'Ceoral34', 'Hilaerin92',
       'Chadilsasta32', 'Undassa89', 'Iduenu77', 'Lisosia66',
       'Undimsya85', 'Phaedue89', 'Yadacal26', 'Lisossa25', 'Ilmol66',
       'Yastyriaphos75', 'Hiasurria41', 'Palatyon26', 'Qilalista41',
       'Hada39', 'Chamilsala65', 'Rairith81', 'Ilarin91', 'Ryanara76',
       'Undista85', 'Tyeoralru41', 'Pheosrinudeu70', 'Heuli25',
       'Pheutherin27', 'Chadirra90', 'Ali84', 'Frichjaskan98', 'Malil90',
       'Yarithllodeu72', 'Tyaedainu44', 'Ethron58', 'Eusurdeu49',
       'Saistyphos30', 'Saisrilis27', 'Hallysucal81', 'Ilimya66',
       'Raysistast71', 'Haedairiadru51', 'Tyananurgue44', 'Risty84',
       'Aerillorin70', 'Phistyn52', 'Yalo85', 'Chamirrasya33', 'Hiral75',
       'Isursti83', 'Bartassaya73', 'Aeda94', 'Quinarap53', 'Asur53',
       'Alarap40', 'Sida61', 'Hiarideu73', 'Lassassasda30', 'Ennoncil86',
       'Siralsudeu54', 'Eusri26', 'Ardcil81', 'Marilsasya33', 'Lirtim36',
       'Heunadil74', 'Frichadar89', 'Aesurstilis64', 'Idaidil28',
       'Lisotesta51', 'Lisico81', 'Lisiriya82', 'Siana77', 'Marokian45',
       'Sausosia74', 'Assesi91', 'Eusri70', 'Aisurria69', 'Iarilis73',
       'Raisty38', 'Ilista82', 'Leyirra83', 'Aiduesu86', 'Frichynde86',
       'Hisridru55', 'Chamossa77', 'Irillo49', 'Lirtastsya71',
       'Frichosiala98', 'Qilunan34', 'Quarrion42', 'Aisurdru79',
       'Hiaral50', 'Iarallo65', 'Sondassasya91', 'Chanossast57',
       'Chanjask65', 'Ethralista69', 'Sondistanya61', 'Eudanu32',
       'Euthe35', 'Lassimla92', 'Lisossala30', 'Eulae84', 'Chamadarnya73',
       'Eolan54', 'Assistasda90', 'Ennrian78', 'Undirrasta89',
       'Rianistast50', 'Undare39', 'Adairialis76', 'Aesur96',
       'Tyialisudeu65', 'Arirgue63', 'Sundadarla27', 'Eyircil84', 'Ina92',
       'Lirtistanya48', 'Marassa62', 'Mindossa76', 'Salilis27',
       'Sondossa69', 'Sundjask71', 'Errian63', 'Eurithphos97',
       'Raillydeu47', 'Malon70', 'Jiskimsda56', 'Marughi89', 'Ingatcil75',
       'Chanirrasta87', 'Alaesu77', 'Ermol76', 'Tyeuduen32', 'Firon67',
       'Iadueria43', 'Pheulidil31', 'Eodairu79', 'Frichocesta66',
       'Thourdirra92', 'Chanastnya43', 'Iskim96', 'Eulolis41',
       'Sastydeu50', 'Ilaesudil92', 'Yasur85', 'Aidain51',
       'Aerithnuphos61', 'Yalostiphos68', 'Meosridil82', 'Aillyriadru65',
       'Sally64', 'Lisim51', 'Isurria36', 'Silaera56', 'Leetirraya83',
       'Lirtirra81', 'Eryon48', 'Iana95', 'Sondassan80', 'Chanadar44',
       'Eosurdru76', 'Shidai42', 'Aesri53', 'Syally44', 'Jiskadarst60',
       'Sondadar26', 'Malarrian73', 'Maluncil97', 'Ilunyon70', 'Yadam35',
       'Dyally87', 'Pheosurllorin41', 'Frichaya88', 'Lassadarsda57',
       'Marynde90', 'Isri34', 'Assastnya25', 'Ardonmol96',
       'Lassirrasda85', 'Chadossa56', 'Poshilsa82', 'Yoishirrala98',
       'Sundista37', 'Ilassa51', 'Filurarn35', 'Phaestycal84', 'Irilis75',
       'Aeralstical35', 'Chanirrala39', 'Chanirra79', 'Assirra56',
       'Seolollo93', 'Iathem87', 'Iasurriacal29', 'Lisast98', 'Filrion59',
       'Halaecal66', 'Iskosian40', 'Ilastilis78', 'Seosrim97',
       'Farrian71', 'Rithe53', 'Frichossala54', 'Chamjaskya75',
       'Quanrion96', 'Tyaelaelis94', 'Quanenrian83', 'Chanirra64',
       'Yadaisuir65', 'Syathecal44', 'Arin32', 'Aelaria33', 'Assassa81',
       'Filrion83', 'Eoral49', 'Airi27', 'Eurisuru25', 'Liawista80',
       'Lisirra58', 'Chamadarsda63', 'Haestyphos66', 'Phaedasurap84',
       'Mindimnya67', 'Chadjask85', 'Eustyria89', 'Iskim66', 'Chamast86',
       'Lirtassan78', 'Ethrasyon38', 'Quilassa66', 'Lisassasda39',
       'Mindilsa60', 'Lalossa38', 'Chamistast30', 'Hariphos58',
       'Assilsan72', 'Inasuir29', 'Chanilsasda38', 'Mindesi74',
       'Ililsan66', 'Idacal95', 'Aeral68', 'Tyarithn67', 'Asty82',
       'Yalaeria91', 'Chadjask77', 'Ealiril69', 'Quaecjask96',
       'Firatan58', 'Yarolwen77', 'Tyaelistidru84', 'Yarithrin84',
       'Tyaelly53', 'Phiristi62', 'Ililsasya43', 'Aithelis62',
       'Undotesta33', 'Aelidru27', 'Chanossanya44', 'Maradarnya40',
       'Lisilsa62', 'Saena89', 'Chanilsast61', 'Sundassa93', 'Aidai73',
       'Indirrian56', 'Lisassasta50', 'Iduelis31', 'Chanosiaya39',
       'Assylla81', 'Aidaira26', 'Eudanu84', 'Chamiman85', 'Tyialisti80',
       'Marundi65', 'Eusur90', 'Mindirranya33', 'Phiallylis33', 'Isty55',
       'Frichilsa31', 'Chanista95', 'Aellyria80', 'Rastynusuir31',
       'Iljask75', 'Lisjaskan36', 'Mindjasksya61', 'Frichirranya75',
       'Ilast79', 'Eratiel90', 'Assim27', 'Irith83', 'Ilosian36',
       'Iskossasda43', 'Hala31', 'Jiskjask80', 'Aethedru70', 'Yathecal72',
       'Sisur91'], dtype=object)

In [185]:
total_player_count = len(player_count_file["SN"].unique())
total_player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [186]:
player_count_file_unique_items = player_count_file["Item ID"].unique()
player_count_file_unique_items = len(player_count_file_unique_items)
player_count_file_unique_items

183

In [187]:
player_count_file_average_price = player_count_file["Price"].mean()
player_count_file_average_price =round(player_count_file_average_price,2)
player_count_file_average_price

3.05

In [188]:
player_count_file_no_of_purchases = player_count_file["Price"].count()
player_count_file_no_of_purchases

780

In [189]:
player_count_file_total_revenue = player_count_file["Price"].sum()
player_count_file_total_revenue

2379.77

In [190]:
purchase_analysis_summary =pd.DataFrame({
    "Number of Unique Items":[player_count_file_unique_items],
    "Average Price":[player_count_file_average_price],
    "Number of Purchases":[player_count_file_no_of_purchases],
    "Total Revenue":[player_count_file_total_revenue]
}) 
purchase_analysis_summary.head()

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     183           3.05                  780        2379.77

# Table Display

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [191]:
grouped_gender = purchase_data["Gender"].value_counts()
grouped_gender.head()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [192]:
grouped_gender_percent = (grouped_gender/total_player_count) * 100
grouped_gender_percent = round(grouped_gender_percent,2)

In [193]:
dispaly_summary_gender = pd.DataFrame({
                                        "Total Count":grouped_gender,
                                        "Percentage of Players":grouped_gender_percent})
dispaly_summary_gender

                       Total Count  Percentage of Players
Male                           652                 113.19
Female                         113                  19.62
Other / Non-Disclosed           15                   2.60


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [194]:
purchase_count = purchase_data.groupby(["Gender"]).count()["Price"]
purchase_count

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Price, dtype: int64

In [195]:
average_purchase = purchase_data.groupby(["Gender"]).mean()["Price"]
average_purchase

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [196]:
purchase_value = purchase_data.groupby(["Gender"]).sum()["Price"]
purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [197]:
purchase_value_person = purchase_value/grouped_gender
purchase_value_person

Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
dtype: float64

In [198]:
summary_table_purchasing_analy = pd.DataFrame({
    "Purchase Count":purchase_count,
    "Average Purchase Price":average_purchase,
    "Total Purchase Value":purchase_value,
    "Avg Total Purchase per Person":purchase_value_person,
})
summary_table_purchasing_analy.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,3.203009,361.94,3.203009
Male,652,3.017853,1967.64,3.017853
Other / Non-Disclosed,15,3.346000,50.19,3.346000

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [199]:
purchase_data_copy = purchase_data
bins = [0,9,13,18,23,28,33,40,100]
group_name = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

purchase_data_copy = purchase_data_copy.loc[:,["Price","Age"]]
purchase_data_copy["age group"] = pd.cut(purchase_data["Age"],bins,labels = group_name)

age_count_total = purchase_data_copy["age group"].value_counts()
age_total = purchase_data["Age"].count()
percent_age = age_count_total/age_total*100


summary = pd.DataFrame({"Total Count":age_count_total,
                       "Percentage of Players":percent_age})
summary

       Total Count  Percentage of Players
20-24          321              41.153846
25-29          155              19.871795
15-19          115              14.743590
30-34           77               9.871795
35-39           56               7.179487
10-14           26               3.333333
<10             23               2.948718
40+              7               0.897436

In [200]:
purchase_count_age = purchase_data_copy.groupby(["age group"]).count()["Price"]
purchase_count_age

age group
<10       23
10-14     26
15-19    115
20-24    321
25-29    155
30-34     77
35-39     56
40+        7
Name: Price, dtype: int64

In [201]:
purchase_price_age = purchase_data_copy.groupby(["age group"]).mean()["Price"]
purchase_price_age

age group
<10      3.353478
10-14    2.918077
15-19    3.041913
20-24    3.033707
25-29    3.019290
30-34    2.949351
35-39    3.330536
40+      3.075714
Name: Price, dtype: float64

In [202]:
purchasing_analysis_summary_age = pd.DataFrame({
    "Purchase Count":purchase_count_age,
    "Average Purchase Price":purchase_price_age, 
    "Total Purchase Value": purchase_count_age*purchase_price_age
})
purchasing_analysis_summary_age

           Purchase Count  Average Purchase Price  Total Purchase Value
age group
<10                    23                3.353478                 77.13
10-14                  26                2.918077                 75.87
15-19                 115                3.041913                349.82
20-24                 321                3.033707                973.82
25-29                 155                3.019290                467.99
30-34                  77                2.949351                227.10
35-39                  56                3.330536                186.51
40+                     7                3.075714                 21.53

## Purchasing Analysis (Age)

In [203]:
purchasing_analysis_summary_age

           Purchase Count  Average Purchase Price  Total Purchase Value
age group
<10                    23                3.353478                 77.13
10-14                  26                2.918077                 75.87
15-19                 115                3.041913                349.82
20-24                 321                3.033707                973.82
25-29                 155                3.019290                467.99
30-34                  77                2.949351                227.10
35-39                  56                3.330536                186.51
40+                     7                3.075714                 21.53

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [213]:
top_spenders = spenders_data.set_index(["SN"])
top_spenders

,Purchase ID,Age,Gender,Item ID,Item Name,Price
SN,,,,,,
Lisim78,0,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
Lisovynya38,1,40,Male,143,Frenzied Scimitar,1.56
Ithergue48,2,24,Male,92,Final Critic,4.88
Chamassasya86,3,24,Male,100,Blindscythe,3.27
Iskosia90,4,23,Male,131,Fury,1.44
...,...,...,...,...,...,...
Aethedru70,775,21,Female,60,Wolf,3.54
Iral74,776,21,Male,164,Exiled Doomblade,1.63
Yathecal72,777,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
Sisur91,778,7,Male,101,Final Critic,4.19
Ennrian78,779,24,Male,50,Dawn,4.60

In [234]:
locate_spenders = top_spenders.loc[["Lisosia93","Idastidru52","Chamjask73","Iral74","Iskadarya95"]]
locate_spenders

,Purchase ID,Age,Gender,Item ID,Item Name,Price
SN,,,,,,
Lisosia93,74,25,Male,89,"Blazefury, Protector of Delusions",4.64
Lisosia93,120,25,Male,24,Warped Fetish,3.81
Lisosia93,224,25,Male,157,"Spada, Etcher of Hatred",4.80
Lisosia93,603,25,Male,141,Persuasion,3.19
Lisosia93,609,25,Male,40,Second Chance,2.52
Idastidru52,290,24,Male,147,"Hellreaver, Heirloom of Inception",4.93
Idastidru52,490,24,Male,148,"Warmonger, Gift of Suffering's End",4.03
Idastidru52,543,24,Male,121,Massacre,1.60
Idastidru52,676,24,Male,111,Misery's End,4.89
Chamjask73,222,22,Female,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
Chamjask73,520,22,Female,109,"Downfall, Scalpel Of The Emperor",4.76
Chamjask73,564,22,Female,52,Hatred,4.84
Iral74,128,21,Male,58,"Freak's Bite, Favor of Holy Might",4.14
Iral74,623,21,Male,114,Yearning Mageblade,3.82
Iral74,758,21,Male,182,Toothpick,4.03
Iral74,776,21,Male,164,Exiled Doomblade,1.63
Iskadarya95,148,20,Male,148,"Warmonger, Gift of Suffering's End",4.03
Iskadarya95,247,20,Male,82,Nirvana,4.90
Iskadarya95,318,20,Male,91,Celeste,4.17

In [236]:
locate_spenders_count = locate_spenders.groupby(["SN"])["Age"].count()
locate_spenders_count

SN
Chamjask73     3
Idastidru52    4
Iral74         4
Iskadarya95    3
Lisosia93      5
Name: Age, dtype: int64

In [238]:
locate_spenders_avg = locate_spenders.groupby(["SN"])["Price"].mean()
locate_spenders_avg

SN
Chamjask73     4.610000
Idastidru52    3.862500
Iral74         3.405000
Iskadarya95    4.366667
Lisosia93      3.792000
Name: Price, dtype: float64

In [239]:
locate_spenders_total_purchase = locate_spenders_count * locate_spenders_avg
locate_spenders_total_purchase

SN
Chamjask73     13.83
Idastidru52    15.45
Iral74         13.62
Iskadarya95    13.10
Lisosia93      18.96
dtype: float64

In [241]:
summary_top_spenders = pd.DataFrame({
    "Purchase Count":locate_spenders_count,
    "Average Purchase Price":locate_spenders_avg,
    "Total Purchase Value":locate_spenders_total_purchase
})
summary_top_spenders

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Chamjask73                3                4.610000                 13.83
Idastidru52               4                3.862500                 15.45
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10
Lisosia93                 5                3.792000                 18.96

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame